.notif {
  color: green;
  background-color: gray;
  font-size: 20px;
  border: solid;
  padding: 10px;
}

.error {
  color: red;
  background-color: gray;
  font-size: 20px;
  border: solid;
  padding: 10px;
}